<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <table>
        {% for i in range(times): %}
        <tr>
            {% if i%2 ==0 %}
                {% for i in range(0,halfTimes)%}
            <td class="color1"></td>
            <td class="color2"></td>
                {%endfor%}
            
        </tr>
        <tr>
            {% elif i%2 ==1 %}
                {% for i in range(0,halfTimes)%}
            <td class="color2"></td>
            <td class="color1"></td>
                {%endfor%}
            {% endif %}
         
        </tr>
        {% endfor %}
    </table>
</body>
</html>